<div class="notice notice-error">
  <strong>Error: </strong>{{ __( '\'ASSE HTTP\' requires a newer version of WordPress to be installed.', 'asse-akamai' ) }}<br />
  {{ __( 'Minimal version of WordPress required: ', 'asse-http' ) }} <strong>{{ wp_version_min }}</strong><br />
  {{ __( 'Your WordPress version: ', 'asse-http' ) }} <strong>{{ wp_version }}</strong>
</div>
